.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width:100px;
    background-color: white;
    z-index: 200;
    
}


.sidebar-link{
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin-bottom: 5px;
    display: flex;
    left: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    cursor: pointer;
    

}

.sidebar-link:hover{
    background-color: rgb(219, 219, 219);
}

.sidebar-link img{
    
    width: 25px;
    height: 25px;
    margin-bottom: 8px;
    
        
}

.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 12px;
    display: flex;
}

@media (min-width: 1200px) {
    .sidebar{
        width: 180px;
        
    }
    .sidebar-link{
        flex-direction: row;
        justify-content: initial;
        align-items: center;
    }
    .sidebar-link img{
        padding-left: 25px;
    }
    .sidebar-link div{
        padding-left: 10px;
        padding-bottom: 5px;
    }
    .body{
        padding-left: 180px;
    }
}
    
